
@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/Resources/views/tailwind.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '.../**/*.js';


@theme {
--font-sans: 'Instrument Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
--font-emoji: 'Noto Color Emoji';
}